<?xml version="1.0" encoding="UTF-8"?>
<!--
       Copyright 2015 CASHWAY SAS
   
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at
   
           http://www.apache.org/licenses/LICENSE-2.0
   
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
       
       @category   Sirateck
       @package    Sirateck_Cashway
       @copyright  Copyright 2015 CashWay
       @license    http://www.apache.org/licenses/LICENSE-2.0  Apache License, Version 2.0
 -->

<config>
	<sections>
		<cashway translate="label" module="cashway">
			<label>Cashway payment</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>400</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
   				<cashway_api translate="label">
   					<label>Cashway account configuration</label>
   					<frontend_type>text</frontend_type>
					<comment></comment>
   					<sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                    	 <api_key translate="label">
                    		<label>Api key (production account)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                    	</api_key>
                    	 <api_secret translate="label">
                            <label>Api secret (production account)</label>
                           	<frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_secret>
                        <api_shared_secret translate="label">
                            <label>Api Shared secret (production account)</label>
                           	<frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_shared_secret>
                         <api_key_test translate="label">
                    		<label>Api key (test account)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                    	</api_key_test>
                    	 <api_secret_test translate="label">
                            <label>Api secret (test account)</label>
                           	<frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_secret_test>
                        <api_shared_secret_test translate="label">
                            <label>Api Shared secret (test account)</label>
                           	<frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_shared_secret_test>
                    </fields>
   				</cashway_api>
   			</groups>
		</cashway>
		<payment>
            <groups>
            	<cashway translate="label" module="cashway">
            		<label>Cashway payment method</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
	                    <active translate="label" module="payment">
	                        <label>Enabled</label>
	                        <frontend_type>select</frontend_type>
	                        <source_model>adminhtml/system_config_source_yesno</source_model>
	                        <sort_order>10</sort_order>
	                        <show_in_default>1</show_in_default>
	                        <show_in_website>1</show_in_website>
	                        <show_in_store>1</show_in_store>
	                    </active>
	                    <title translate="label" module="payment">
	                        <label>Title</label>
	                        <frontend_type>text</frontend_type>
	                        <sort_order>20</sort_order>
	                        <show_in_default>1</show_in_default>
	                        <show_in_website>1</show_in_website>
	                        <show_in_store>1</show_in_store>
	                     </title>
	                     <allowredirect translate="label comment">
                        	<label>Allow redirection</label>
                        	<comment>Enable redirection if last payment failed</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allowredirect>
	                     <redirectspecific translate="label comment" >
                            <label>Redirect from Applicable Methods</label>
                            <comment>Redirect to cashway if it's allowed for previously method</comment>
                            <frontend_type>select</frontend_type>
                            <frontend_model>cashway/adminhtml_system_config_form_field_allowredirectmethod</frontend_model>
                            <source_model>cashway/system_config_source_allspecificredirectmethod</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </redirectspecific>
                        <redirectmethod translate="label" >
                            <label>Redirect from Specific Methods</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>90</sort_order>
                            <source_model>cashway/system_config_source_allowedmethods</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </redirectmethod>                     
                         <allowspecific translate="label" module="payment">
                            <label>Payment from Applicable Countries</label>
                            <frontend_type>allowspecific</frontend_type>
                            <sort_order>100</sort_order>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allowspecific>
                        <specificcountry translate="label" module="payment">
                            <label>Payment from Specific Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>110</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </specificcountry>
                        <min_order_total translate="label" module="payment">
                            <label>Minimum Order Total</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </min_order_total>
                        <max_order_total translate="label" module="payment">
                            <label>Maximum Order Total</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>121</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_order_total>
                        <sort_order translate="label" module="payment">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
                        <debug translate="label comment">
                        	<label>Enable debug log</label>
                        	<comment>Log all queries to and from cashway API</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </debug>
	                      <is_test_mode translate="label comment">
                        	<label>Enable test mode</label>
                        	<comment>Call requests in test API Endpoint</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </is_test_mode>
                      </fields> 
             	</cashway>
             </groups>
		</payment>
	</sections>
</config>