
TEST_SERVER=http://localhost:9999

SERVER_COUNTRY=France

CUSTOMER_FIRSTNAME=
CUSTOMER_LASTNAME=
CUSTOMER_NAME="${CUSTOMER_FIRSTNAME} ${CUSTOMER_LASTNAME}"
CUSTOMER_EMAIL=
CUSTOMER_PASSWD=
CUSTOMER_ZIPCODE=
CUSTOMER_PHONE=
CUSTOMER_CITY=
CUSTOMER_ADRESS=

ADMIN_PATH=/admin
ADMIN_NAME=${CUSTOMER_NAME}
ADMIN_EMAIL=${CUSTOMER_EMAIL}
ADMIN_PASSWD=${CUSTOMER_PASSWD}

MODULE_NAME=CashWay
MODULE_ARCHIVE=../releases/file.zip
MODULE_PAY_ACTION_TEST=

API_KEY=
API_SECRET=
