# Configuration for module test.

# Tested server
TEST_SERVER=http://localhost:9999

#
CUSTOMER_EMAIL=
CUSTOMER_PASSWD=
CUSTOMER_NAME=

#
ADMIN_PATH=
ADMIN_EMAIL=${CUSTOMER_EMAIL}
ADMIN_PASSWD=
ADMIN_NAME=${CUSTOMER_NAME}

# Capitalized module name, one word
MODULE_NAME=

# Path a local PrestaShop module archive to upload
MODULE_ARCHIVE=

# Text present in the payment options list
MODULE_PAY_ACTION_TEST=Payer avec CashWay
