
TEST_SERVER=http://localhost:9999

CUSTOMER_NAME=
CUSTOMER_EMAIL=
CUSTOMER_PASSWD=

ADMIN_PATH=/admin/
ADMIN_NAME=
ADMIN_EMAIL=${CUSTOMER_EMAIL}
ADMIN_PASSWD=

MODULE_NAME=CashWay
MODULE_ARCHIVE=../releases/file.zip
MODULE_PAY_ACTION_TEST=

API_KEY=
API_SECRET=
