
TEST_SERVER=http://localhost:9999

CUSTOMER_NAME=
CUSTOMER_EMAIL=
CUSTOMER_PASSWD=

ADMIN_PATH=/admin/
ADMIN_MANAGER_PATH=/downloader/
ADMIN_USERNAME=${ADMIN_USERNAME}
ADMIN_EMAIL=${ADMIN_EMAIL}
ADMIN_PASSWD=${ADMIN_PASSWD}

MODULE_NAME=CashWay
MODULE_VERSION=0.2.0
MODULE_CHANNEL=community
MODULE_ARCHIVE=../build/${MODULE_NAME}-${MODULE_VERSION}.tgz
MODULE_PAY_ACTION_TEST=

API_KEY=${API_KEY}
API_SECRET=${API_SECRET}
API_SHARED_SECRET=${API_SHARED_SECRET}
