
TEST_SERVER=http://localhost:8080/magento/

CUSTOMER_NAME=
CUSTOMER_EMAIL=
CUSTOMER_PASSWD=
CUSTOMER_FIRSTNAME=
CUSTOMER_LASTNAME=
CUSTOMER_ADDRESS=
CUSTOMER_CITY=
CUSTOMER_ZIP=
CUSTOMER_PHONE=
CUSTOMER_COUNTRY=FR

ADMIN_PATH=index.php/admin/
ADMIN_MANAGER_PATH=downloader/
ADMIN_FIRSTNAME=Admin
ADMIN_LASTNAME=Magento
ADMIN_USERNAME=
ADMIN_EMAIL=

# at last 8 digits, alphanum...
ADMIN_PASSWD=

MODULE_NAME=CashWay
MODULE_VERSION=0.2.0
MODULE_CHANNEL=community
MODULE_ARCHIVE=../build/${MODULE_NAME}-${MODULE_VERSION}.tgz
MODULE_PAY_ACTION_TEST=

API_KEY=
API_SECRET=
API_SHARED_SECRET=
