Makefile export-ignore
.editorconfig export-ignore
tests export-ignore
releases export-ignore
build export-ignore
.gitignore export-ignore
circle.yml export-ignore
phpunit.xml export-ignore
php.standard.xml export-ignore
