<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
         bootstrap="tests/php/helper.php"
         colors="false"
         verbose="false">

  <php>
    <const name="TEST_SERVER_SCHEME" value="http" />
    <const name="TEST_SERVER_HOST" value="127.0.0.1" />
    <const name="TEST_SERVER_PORT" value="9876" />
    <const name="TEST_SERVER_DOCROOT" value="tests/php/public" />
    <const name="TEST_KEY" value="test-key-K" />
    <const name="TEST_SECRET" value="test-secret-S" />
    <const name="CASHWAY_TEST_ENVIRONMENT" value="1" />
  </php>

  <testsuites>
    <testsuite name="cashway_prestashop">
      <directory>tests/php</directory>
    </testsuite>
  </testsuites>
  <logging>
    <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    <log type="coverage-html" target="coverage"/>
    <log type="tap" target="php://stdout"/>
  </logging>
</phpunit>