
TEST_SERVER=http://localhost:9999

SERVER_COUNTRY=France

CUSTOMER_FIRSTNAME=Anne
CUSTOMER_LASTNAME="de Bretagne"
CUSTOMER_NAME="${CUSTOMER_FIRSTNAME} ${CUSTOMER_LASTNAME}"
CUSTOMER_EMAIL=anne.de.bretagne@do.cshw.pl
CUSTOMER_PASSWD=
CUSTOMER_ZIPCODE=44000
CUSTOMER_PHONE="+33 4 00 00 00 00"
CUSTOMER_CITY=Nantes
CUSTOMER_ADRESS=Château

ADMIN_PATH=/admin
LOGIN_PATH=/wp-login.php
ADMIN_NAME=${CUSTOMER_NAME}
ADMIN_EMAIL=${CUSTOMER_EMAIL}
ADMIN_PASSWD=${CUSTOMER_PASSWD}

MODULE_NAME=CashWay
MODULE_ARCHIVE=../releases/file.zip
MODULE_PAY_ACTION_TEST=

API_KEY=
API_SECRET=
